
#sortable-container { 
    background: #eee; 
    padding: 10px; 
}
#sortable-container .card { 
    text-align: center; 
    font-size: 10pt;
    margin:10px;
}
#sortable-x {
    margin:10px;
}


#sortable-y {
    padding: 10px;
    float: right;
    
}

#sortable-y .card {
    margin: 10px;
    height: 50%;
    width: 100px; height: 90px;
}

#card-table td{
    font-size: 10pt;
}
