
#sortable-container-x, #sortable-container-y { 
    background: #eee; 
    padding: 10px;
    margin-bottom:30px;
}
table {
    width: 100%;
}
table td {
    min-height: 15vh;
}
.card { 
    text-align: center; 
    font-size: 8pt;
    margin: 10px;
    width: 8vw;
    min-width: 100px;
}

.card img {
    width: 100%; height: 9vh; min-height:80px; object-fit: cover;
}

.sortable-x .card{
    margin-left:auto;
    margin-right:auto;
}

.sortable-y .card {
    margin-left:auto;
}

.sortable-y {
    display:flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    width: 50vw;
}

#card-table td{
    font-size: 8pt;
}
