{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/data_values.js') }}"></script>
{% endblock %}

{% block content %}
<h3>Study Form</h3>
<form style="padding:30px; background-color: #DDDDDD;" class="rounded" id="user-email" action="" method="post" enctype="multipart/form-data"novalidate>

    {{ form.hidden_tag() }}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{ form.name.label }}</label>
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            <label>{{ form.image.label }}</label>
            <div class="custom-file">
                {{ form.image(type="file", class="custom-file-input", id="inputGroupFile01") }}
                <label class="custom-file-label" for="inputGroupFile01">
                    Upload Image
                </label>        
            </div> 
            {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label>{{ form.desc.label }}</label>
        {{ form.desc(class="form-control") }}
        {% for error in form.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{ form.card_set_x.label }}</label>
            {{ form.card_set_x(class="form-control") }}
            {% for error in form.card_set_x.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            <label>{{ form.card_set_y.label }}</label>
            {{ form.card_set_y(class="form-control") }}
            {% for error in form.card_set_y.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}         
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>{{ form.data_values.label }}</label>
            {{ form.data_values(class="form-control data-values") }}
            {% for error in form.data_values.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    
    
        
            {% for l in form.data_value_labels %}
            <div class="form-group col-md-5">
                <div class="item" hidden>
                    <label>{{ l.label }}</label>
                    {{ l(class="form-control data-value-label") }}
                    {% for error in l.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}   
        
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>{{ form.number_of_columns.label }}</label>
            {{ form.number_of_columns(class="form-control") }}
            {% for error in form.number_of_columns.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-2">
            <label>{{ form.number_of_rows.label }}</label>
            {{ form.number_of_rows(class="form-control") }}
            {% for error in form.number_of_rows.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
        <label>{{ form.user_group.label }}</label>
        {{ form.user_group(class="form-control") }}
        {% for error in form.user_group.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label>{{ form.start_date.label }}</label>
            {{ form.start_date(class="form-control") }}
            {% for error in form.start_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-3">
            <label>{{ form.end_date.label }}</label>
            {{ form.end_date(class="form-control") }}
            {% for error in form.end_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <p>{{ form.submit(class="btn btn-primary") }}</p>

</form>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock %}