{% extends "responses/responses_base.html" %}


{% block head %}
    {{ super() }}
    {{ plot_script_x|indent(4)|safe }}
    {{ plot_script_y|indent(4)|safe }}
    {% for script_heatmap in heatmap_plots %}
        {{ script_heatmap[0]|indent(4)|safe }}
    {% endfor %}
{% endblock %}
{% block content %}
<h3>General</h3>
    <div class="row">
        <div class="col text-center">
            <h4>{{ responses|length }} Responses</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
            {{ plot_div_x|indent(4)|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
            {{ plot_div_y|indent(4)|safe }}
        </div>
    </div>    

    
{% endblock %}