<html>
    <head>
        <title>IoT Data Trading Survey</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href=" {{url_for('static', filename='css/bootstrap/bootstrap.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            {% if current_user.type == 'admin' %}
                <a class="navbar-brand" href="{{ url_for('admin.index') }}">IoT Data Trading Survey Admin Site</a>
            {% else %}
                <a class="navbar-brand" href="{{ url_for('study.index') }}">IoT Data Trading Survey</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
                <span class="navbar-toggler-icon"></span>
            </button>

        
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.type == 'participant' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('study.change_info') }}">Change Info</a>
                        </li>
                    {% endif %}                          
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <span class="navbar-text">
                            Hello, {{ current_user }}
                        </span>
                        <li class="nav-item active">
                            <a class="nav-link " href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block subnav %}
        {% endblock %}

        <div style="padding-top: 30px;" class="container custom-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}         
                </div>
                {% endif %}
            {% endwith %}
        {% block content %}
        {% endblock %}
        </div>
        <div class="container-fluid">
            {% block table %}
            {% endblock %}
        </div>
    </body>
</html>
