<!DOCTYPE html>
<body>
<h3>
    Invitation to take part in {{ study.name }}
</h3>
<p>
    You have been invited to participate in {{ study.name }} created by Benjamin Thornton
    in the School of Computer Science at Cardiff University.
</p>
<p>
    If you wish to participate, I recommend you use either Google Chrome or Firefox and use a <b>laptop or PC, not a smart phone</b>. You will need to use a VPN too access the survey application as it hosted on the university network.
    Please follow the guide from the School Of Computer Science & Informatics Documentation for how to set this up if you havent already:
</p>
<p>
    Windows: https://docs.cs.cf.ac.uk/notes/openvpn-windows/
    macOS: https://docs.cs.cf.ac.uk/notes/openvpn-macos/
</p>
<p>
    Once you have the VPN set up and connected please visit this <a href="http://data-trading-survey-data-trading-survey.apps.cs.cf.ac.uk">link</a> to complete the survey.<br>
    you have until <b>{{ study.end_date }}</b> to complete the study.
</p>
<p>
    To login your credentials are:<br>
    Username: <b>{{ username }}</b><br>
    Password: <b>{{ password }}</b>
</p>
<p>
    Please watch the video on how to complete the study before submitting your response.<br>
    If there are any problems or questions please email me: ThorntonBJ@cardiff.ac.uk
</p>
<p>
    Thanks for your participation,<br>
    Ben
</p>

<p

</body>