{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
    <script src="{{ url_for('static', filename='js/process_cards.js') }}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block table %}
<div class="row">
    <div class="col">
        <h3>{{ study.card_set_y.name }}</h3>
        <p class="text-muted">Place these cards along the Y axis of the table below.</p>
        <div id="sortable-container-y" class="droptrue2 d-flex flex-wrap">
            {% for card in card_set_y.cards %}
            <div>
                <div card_id="{{card.id}}" class="card">
                    {% if card.image %}
                        <img class="card-img-top img" src="{{ url_for('static', filename='img/card_images/'~creator_id~'/'+card.image) }}" alt="Card Image">
                    {% endif %}
                    <div class="card-body">
                        {% if card.description %}
                            <p class="card-text title description" data-toggle="tooltip" data-placement="top" title="{{ card.description }}">{{ card.name }}</p>       
                        {% else %}
                            <p class="card-text title">{{ card.name }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>  
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
<div class="col">
<div id="card-table" class="table-responsive">
 <table class="table table-bordered">
    {% for row in range(0, study.number_of_rows) %}
    {% set outer_loop = loop %}


        <tr>
        
            <td style="border:none;" row="row_{{ study.number_of_rows-outer_loop.index }}" class="sortable-y droptrue2 d-flex flex-nowrap cards-row">
              
            </td>
        
            {% if loop.index0 == 0%}
                <td style="border:none; vertical-align:middle">
                    <p>Highest {{ card_set_y.measure}} </p>
                </td>
            {% elif loop.index0 == study.number_of_rows-1 %}
                <td style="border:none; vertical-align:middle">
                    <p>Lowest {{ card_set_y.measure }}</p>
                </td>
            {% else %}
                <td style="border:none;"></td>
            {% endif%}
            
            
            {% for column in range(0, study.number_of_columns) %}
            
                <td class="data-values" style="vertical-align: middle;" col-row="col_{{ loop.index0 }}_row_{{ study.number_of_rows-outer_loop.index }}">
                  
                    {% for label in study.data_value_labels %}
                        <form>
                            <div class="form-group data-value">
                                <label label_id="{{ label.id }}" >{{ label.label }}</label>
                                <input type="number" class="value form-control form-control-sm">    
                            </div>
                        </form>
                    {% endfor %}
            
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td style="border: none;">
        </td>
        <td style="border:none;">
        </td>
        
        {% for col in range(0, study.number_of_columns) %}
        {% if loop.index0==0 %}
            <td style="border:none; text-align:center;">
                Lowest {{ card_set_x.measure }}
            </td>
        {% elif loop.index0 == study.number_of_columns-1 %}
            <td style="border:none; text-align:center;">
                Highest {{ card_set_x.measure }}
            </td>
        {% else %}
            <td style="border:none;"></td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <td style="border: none;">
        </td>
        <td style="border: none;">
        </td>
        
        {% for col in range(0, study.number_of_columns) %}
        {% set outer_loop = loop %}
            <td style="border:none;" col="col_{{ outer_loop.index0 }}" class="sortable-x droptrue1 cards-col">
            
            </td>
        {% endfor %}
    </tr>
    
 </table>
 </div>
 </div>
 </div>
 <div class="row">
    <div class="col">
        <h3>{{ study.card_set_x.name }}</h3>
        <p class="text-muted">Place these cards along the X axis of the table above.</p>
        <div id="sortable-container-x" class="droptrue1 d-flex flex-wrap">
            {% for card in card_set_x.cards %}
            <div>
                    <div card_id="{{ card.id }}" class="card">
                    {% if card.image %}
                        <img class="card-img-top img" src="{{ url_for('static', filename='img/card_images/'~creator_id~'/'+card.image) }}" alt="Card Image">
                    {% endif %}        
                        <div class="card-body">
                            {% if card.description %}
                                <p class="card-text title description" data-toggle="tooltip" data-placement="top" title="{{ card.description }}">{{ card.name }}</p>       
                            {% else %}
                                <p class="card-text title">{{ card.name }}</p>
                            {% endif %}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<a id="submit" class="btn btn-primary text-white" url="{{ url_for('study.study', id=study.id )}}" csrf="{{ csrf_token() }}">Submit</a>
{% endblock %}


