{% extends "base3.html" %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center">
    <div class="card">
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-primary" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}

                <h3>Hey!</h3>
                <p>Welcome to the IoT Data Trading Survey platform. shortly you will be participating in survey about
                    how willing you would be to sell your data and at what cost.</p>
                    <hr class="my-4">
                    <p>First, we are going to ask you to fill out some data about yourselves.</p>
                    {% include "study/info_form_base.html" %}

                </div>
            
        </div>
    </div>
{% endblock %}